<%- include('./templates/header', {titulo: "Home Page "}) %>

<div class="container-fluid">
    <main>
        <h1>Home page</h1>
        <p>
            Welcome to home page
        </p>
    </main>
</div>

<%- include('./templates/footer') %>